<div class="banner">
    <div class="container">
        <div class="banner__main">
            <div class="banner__content">
                <div class="banner__title">
                    Автоматические отчеты по контекстной рекламе
                </div>
                <div class="banner__subtitle">
                    Собирает данные из рекламных систем и превращает их в понятные отчеты для маркетолога, руководителя, клиента за 8 минут
                </div>
            </div>
        </div>
    </div>
</div>