<footer id="footer" class="footer">
	<div class="container">
		<div class="footer__main">
			<div class="footer__logo">
				<a href="#" class="footer__logo-title">iloveKevin</a>
			</div>
			<div class="footer__phons-item">
				<a href="tel:+78005003190" class="footer__tel"> 8 800 500-31-90</a>
				<div class="footer__tel-descr">Звонки по Росии</div>
			</div>
			<div class="footer__phons-item">
				<a href="tel:+78123184054" class="footer__tel"> +7 812 318-40-54 </a>
				<div class="footer__tel-descr">Санкт-Петербург</div>
			</div>
			<div class="footer__phons-item">
				<a href="tel:+74992702790" class="footer__tel"> +7 499 270-27-90</a>
				<div class="footer__tel-descr">Москва</div>
			</div>
			<div class="footer__email">
				<a href="mailto:milo@elama.ru" class="footer__email-text"> milo@elama.ru</a>
			</div>
			<div class="footer__soc">
				<a href="vk.com" class="footer__soc-vk">вконтакте</a>
				<a href="fb.com" class="footer__soc-fb">facebook</a>
				<span class="footer__soc-share">Расскажи друзьям</span>
			</div>
		</div>
		<div class="footer__sub">
			<a href="#" class="footer__conf">Политика конфиденциальности</a>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/all.js"></script>
</footer>