<form class="form" action="" method="post">
    <div class="input-wrapper">
        <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Имя">
        <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Логин">
        <input type="text" class="input" id="user_password" autocomplete="off" placeholder="Пароль">
    </div>
    <div class="checkbox-wrapper">
        <input type="checkbox" class="checkbox" id="agreement">
        <label for="agreement">Я даю своё <a href="#" class="form-link">согласие</a> на обработку моих персональных данных</label>
    </div>
    <div class="button-wrapper"><input type="submit" class="button" value="зарегистрироваться"></div>
</form>