<form class="form" action="" method="post">
    <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Имя">
    <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Логин">
    <input type="text" class="input" id="user_password" autocomplete="off" placeholder="Пароль">
    <input type="checkbox" class="checkbox" id="agreement">
    <label for="agreement">Я даю своё <a href="#">согласие</a>на обработку моих персональных данных</label>
    <input type="submit" class="button" value="зарегистрироваться">
</form>