<div class="reg">
    <div class="container">
        <div class="reg__main">
            <div class="reg__title">Регистрация</div>
            <div class="reg__descr">С 2009 г. eLama.ru упрощает работу с контекстной рекламой. Мы не только выступаем на конференциях, а на собственном
                опыте знаем, как работает контекстная реклама. Поэтому мы понимаем, какие данные нужны каждой категории пользователей.
                Зарегистрируйтесь и убедитесь.</div>
            <div class="reg__form">
                {{> form}}
            </div>
        </div>
    </div>
</div>