.footer {
  &__tel {
    font-size: 16px;
    font-family: 'MullerBold';
  }
  &__tel-descr {
    font-size: 14px;
    color: #525252;
  }
  &__email-text {
    font-size: 16px;
    color: #002543;
  }
  &__logo {
    &-title {
      font-size: 24px;
      font-family: 'MullerExtraBold';
      font-weight: bold;
    }
  }
}
