.header {
  &__main {
    display: flex;
    justify-content: space-between;
    padding: 51px 0 39px 0;
  }
  &__nav {
    margin: auto 0;
  }
}
@media screen and (max-width: 780px) {
  .header {
    &__main {
      padding: 28px 0 28px 0;
    }
  }
}
@media screen and (max-width: 480px) {
  .header {
    &__nav {
      display: none;
    }
    &__main {
      padding: 24px 0 18px 0;
      justify-content: center;
    }
  }
}
