.reason {
  &__title {
    line-height: 30px;
    font-size: 36px;
    text-align: center;
    font-family: 'MullerBold';
    padding: 100px 0 50px 0;
  }
  &__item-text {
    color: #000;
    font-size: 15px;
    line-height: 23px;
  }
  &__item-title {
    font-family: 'MullerBold';
    padding-bottom: 5px;
    line-height: 23px;
  }
  &__item-ico img {
    width: 80px;
    height: 80px;
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &-mob {
      display: none;
    }
  }
  &__item {
    width: 33%;
    display: flex;
    padding: 28px 0;
    &-content {
      margin-left: 20px;
      max-width: 250px;
    }
  }
}

@media screen and (max-width: 950px) {
  .reason {
    &__item {
      display: block;
      &-ico {
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .reason {
    &__title {
      font-size: 30px;
      padding: 60px 0 32px 0;
    }
    &__item {
      width: 31%;
      &-content {
        margin: 0;
      }
      &-ico {
        margin-left: 0;
      }
      &-title {
        padding: 15px 0 5px 0;
      }
    }
    &__list {
      justify-content: space-between;
    }
  }
}
@media screen and (max-width: 480px) {
  .reason {
    &__list {
      &-mob {
        display: block;
      }
      &-des {
        display: none;
      }
    }
    &__title {
      padding: 54px 0 0 0;
    }
    &__item {
      display: none;
      width: 100%;
      text-align: center;
      &-content {
        max-width: initial;
      }
    }
    &__item.is-active {
      display: block;
    }
  }
}
.slider-dots {
  display: block;
  width: 100%;
  text-align: center;
  &__item {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #002543;
    border-radius: 100% 100%;
    margin: 0 5px;
    &.is-active {
      background-color: #eb3441;
    }
  }
}
